    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="/">Клиенты</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'client:create' %}">регистрация</a>
        <a class="p-2 btn btn-outline-primary" href="/contacts/">Контакты</a>
        <a class="p-2 btn btn-outline-primary" href="">Продавец</a>

            <a class="p-2 btn btn-outline-primary" href="">Выйти</a>
            <a class="p-2 btn btn-outline-primary" href="">Профиль</a>

            <a class="p-2 btn btn-outline-primary" href="">Войти</a>
            <a class="p-2 btn btn-outline-primary" href="">Регистрация</a>

    </nav>